/* #mani{
    display: none;
} */


.myimg{
     height: 200px;
    width: 200px;
    border-radius: 100px;
}

/* .container11{
    margin-left: 80px;
} */
.background11{
    background-color: rgb(208, 238, 238);
    
    
}
#cv-template{


    display: none;
}